/*#region SMALL version*/
@media only screen and (max-width: 480px) {
  main {
    background-color: yellow;
    margin: 2%;
  }

  .homeTop {
    display: block;
  }

  .search { 
    margin: auto;
  }

  .search button {
    padding: 0.5em;
  }

  .headerContent,
  footer {
    text-align: center;
    display: block;
    margin: auto;
  }

  header .imgDiv:first-of-type,
  footer .imgDiv {
    max-width: none;
    margin: 1em auto;
  }

  footer .imgDiv {
    padding-top: 1em;
  }

  .footerText {
    padding-bottom: 3em;
    margin: 0;
  }

  h1 {
    margin: 1em;
  }

  header .imgDiv:last-of-type {
    display: none;
  }

  header nav {
    width: 100%;
    text-align: center;
    padding: 0;
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height;
    transition-duration: 500ms;
    transition-delay: 0s;
  }
  .on {
    max-height: 1000px;
    display: block;
  }

  .smallNav {
    display: block;
  }

  .headerContent {
    width: 100%;
  }
  .headerContent button {
    background-color: var(--accents);
    border: none;
    font-size: 1.5em;
    width: 100%;
    padding: 0.5em;
    display: inline;
  }

  .headerContent button::before {
    content: "≡";
  }

  button.on::before {
    content: "❎";
  }

  header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  header nav li {
    text-align: center;
    padding: 0;
  }
  header nav a {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  header nav li:nth-child(odd) {
    border-right: 1px solid var(--stormblue);
  }
  header nav li:nth-child(even) {
    border-left: 1px solid var(--stormblue);
  }

  .tiles {
    max-width: 200px;
  }

  .forecast {
    /* max-width: 90%; */
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: grid;
    /* margin: 1em; */
    /* margin: auto; */
  }

  .forecast h3 {
    grid-column: 1 / 4;
  }

  .forecast .imgDiv {
    width: 100%;
  }

  .bigNsmall {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
  }

  .locP {
    grid-column: 1 / 4;
  }

  .prints, .formula {
    max-width: 25em;
    margin: 2%;
  }

  .weatherTile .weatherData {
    display: none;
  }

  .weatherTile {
    padding: 0 auto;
    margin: 2% auto;
  }

  .summaryDiv aside {
    display: none;
  }

  .deets {
    width: 350px;
  }

  .summaryDiv {
    display: block;
    margin: auto;
  }

  .summaryDiv a {
    word-wrap: break-word;
  }

  .but {
    margin: 1em 35%;
  }

  .home {
    display: unset;
  }

  .past {
    padding: 0.5em;
  }

  /* .plot, .plot div, .main-svg {
    width: 345px;
    
  } */

  .prep label {
    text-align: left;
    display: grid;
  }

  .prep select {
    margin: 0;
  }

  .prepContent {
    display: block;
  }

  .prepContent div {
    margin: 1em 0;
  }

  .lstorms {
    display: unset;
    margin: 2%;
  }

  .lstorms .noType {
    width: 330px;
  }

  .lstorms label {
    width: 90%;
  }

  .hurricanes {
    margin: 2%;
  }

  .posts {
    border-radius: 1.5em;
    margin: 1em;
  }

  .watch .top button {
    margin: 0 30%;
  }

  .catTitle,
  .stormReports,
  .watch .top {
    display: block;
  }

  form {
    max-width: 90%;
  }

  form.postForm {
    display: block;
  }

  form label {
    width: 80%;
  }

  form input {
    height: 1.8em;
    /* width: 20em; */
  }

  .postForm .buttons {
    margin: 0 10%;
  }

  .postForm button {
    margin: 2em;
  }

  .postForm .leave {
    padding: 0;
  }

  .account {
    width: 90%;
  }

  .myaccount {
    display: block;
  }

  .myaccount .pic {
    display: block;
    margin: 0 auto;
  }

  .myaccount .info {
    /* padding: 1em 2em; */
    margin: 3em 20%;
  }

  .myaccount span {
    display: none;
  }

  .myaccount a,
  .myaccount button {
    display: block;
  }

  .myaccount .edit {
    width: 50%;
    /* padding: 0.8em; */
    margin: 1em auto;
  }
}
/*#endregion SMALL version*/
