/*#region setup*/
:root {
  --accents: #00ccf5ff;
  --black: #010114ff;
  --grey: #173753ff;
  --lightgrey: #e3eced;
  --stormblue: #005d8fff;
  --yellow: #fffec1;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
/*#endregion setup*/
/* #region alignment*/
h2,
h3,
h4,
.tips,
.report,
.prints,
.cloudLayer,
.weatherTile,
.formula,
.sats,
label,
.prepContent,
.noType,
.buttons a,
.myaccount .edit,
.top p,
.postDeets p,
.headerContent,
footer,
header nav {
  text-align: center;
}

.prepTypeContent,
.formMain label,
.postForm label,
.prep label {
  text-align: left;
}
/*#endregion alignment*/
/*#region PAINTED*/
nav ul,
.headerContent p,
.report p,
.forecast h3,
.deets h3,
.headerContent button {
  background-color: var(--accents);
}

.myaccount .profPic {
  background-color: black;
}

.during,
.leave {
  background-color: var(--grey);
}

.tips,
.report,
.prints,
.linkP a,
.forecast,
.formula,
.title h4,
.summaryDiv aside h4,
.summaryDiv aside nav a,
.deets,
.prepContent,
.past,
.lstorms .noType,
.hurricanes div,
.buttons,
.formMain,
.account,
.pic,
.posts,
.postForm {
  background-color: var(--lightgrey);
}

header,
.tips h3,
.summaryDiv aside,
.summaryDiv aside h4,
.after,
.hurricanes,
.selectPic,
footer {
  background-color: var(--stormblue);
}

header nav li:hover,
.before,
.myaccount .edit {
  background-color: var(--yellow);
}

header,
.tips h3,
.summaryDiv aside,
.summaryDiv aside a,
.all a,
.during,
.after,
.hurricanes,
.selectPic h3,
.myaccount .leave,
.myaccount .hazard,
.banner,
button.hazard,
.watch .leave,
footer {
  color: var(--lightgrey);
}

nav li,
nav li a,
.report a,
.summaryDiv aside h3,
.buttons a {
  color: var(--black);
}

.tile h4,
.summaryDiv aside nav a,
.deets span,
.hurricanes div {
  color: var(--grey);
}

.banner a {
  color: var(--yellow);
}

/*#endregion PAINTED*/
/*#region padding*/
header .imgDiv:first-of-type,
footer .imgDiv,
.tips h3,
.highlightedStorm h3,
.formula p,
.prep select,
.hurricanes h3,
.buttons a,
.formMain input,
.formMain button,
.posts .postUser,
.postForm input:not(.eventPic),
.postForm textarea,
.banner {
  padding: 0.5em;
}
/*#endregion padding*/
